body { margin: 0; padding: 20px; font-family: Arial, sans-serif; }

.product-list li {
    cursor: pointer;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.container {
    display: flex;
    gap: 20px;
}

.product-list img {
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.product-details {
    padding: 10px;
    width: 70%;
}

.product-list {
    border-right: 1px solid #ddd;
    width: 30%;
}

.product-list ul {
    padding: 0;
    list-style-type: none;
}

.product-details img {
    object-fit: cover;
    width: 200px;
    margin-bottom: 20px;
    height: 200px;
}

